<div class="pPal">
        <div class="encabezado">
            <img src="../assets/logoSanitas.png" alt="" class="logoSanitas">
            <img src="../assets/logoSantander.png" alt="" class="logoSantander">
        </div>
    
        <div class="partUno">
            <p class="bigTitle">Financia el tratamiento de tu paciente</p>
            <p class="textParrafo">Solicita un crédito de consumo de manera fácil e inmediata. Asesora a tu paciente y
                disfruta de los beneficios que Santander te ofrece.</p>
            <div class="contGrafica">
                <img src="../assets/grafica.png" alt="" class="grafica">
            </div>
            <div class="tarjeta procesos">
                <p class="bigTitle">Procesos</p>
                <p class="title">
                    Cuando tengas a tu paciente en frente, hazle saber que es una mejor opción financiarlo con Santander porque:                        
                </p>
                <p class="textParrafo">
                        • No afectara la liquidez del cliente.<br>
                        • La tasa cero del préstamo generara mayor valor presente de su dinero, ya que el valor total cancelado al final del crédito será el mismo monto que si paga de contado.<br>
                        • Los plazos se acomodan al flujo de caja del cliente.<br>
                        • En caso de pago anticipado, las condiciones iniciales se mantienen.<br>
                        • Puedes hacer beneficiario del tratamiento a un tercero.<br>
                </p>
            </div>
            <div class="tarjeta cntTres">
                    <p class="bigTitle">Condiciones</p>
                    <p class="title">Clientes asalariados a término indefinido:</p>
                    <p class="listaItem">Continuidad laboral mínima de 12 meses.</p>
                    <p class="title">Clientes independientes:</p>
                    <p class="listaItem">Antigüedad en la actividad mínima de 12 meses</p>
                    <p class="title">Clientes pensionados:</p>
                    <p class="listaItem">No requiere antiguedad laboral</p>
            </div>
            
            <div class="tarjeta cntClienteUno">
                    <p class="title">Condiciones para el cliente:</p>
                    <p class="listaItem">
                        • Debe tener entre 18 y 75 años<br>
                        • Ganar más de un salario mínimo<br>
                        • El monto mínimo es $800.000<br>
                        • El monto máximo es $20.000.000<br>
                        • Colombiano o residente con visa e historia laboral
                    </p>
            </div>
        </div>
    
        <!-- Big Screens encabezado -->
    
        <div class="partUnoBig">
            <div class="encabezadoBig">
                <img src="../assets/logoSanitas.png" alt="" class="logoSanitasBig">
                <img src="../assets/logoSantander.png" alt="" class="logoSantanderBig">
                <button class="button">
                    <div class="itemButton">
                        <p class="bigTitle">VOLVER</p>
                    </div>
                </button>
            </div>
            <div class="cntUnoBig">
                <div class="textCntBig">
                    <div class="texInicial">
                        <p class="bigTitle">Financia el tratamiento<br> de tu paciente</p><br>
                        <p class="textParrafo">Solicita un crédito de consumo de manera fácil e inmediata. Asesora a tu
                            paciente y
                            disfruta de los beneficios que Santander te ofrece.</p>
                    </div>                
                </div>
    
                <div class="textCntDosBig">
                        <div class="simulaCuota">
                                <p class="bigTitle">Simula la cuota</p>
                                <p class="title">¡Evita que tu paciente realice papeleos complejos!</p>
                                <p class="title">Gestiona productos de manera agil</p>
                        </div>
                        <div class="cntClienteUno">
                                <p class="title">Condiciones para el cliente:</p>
                                <p class="listaItem">
                                    • Debe tener entre 18 y 75 años<br>
                                    • Ganar más de un salario mínimo<br>
                                    • El monto mínimo es $800.000<br>
                                    • El monto máximo es $20.000.000<br>
                                    • Colombiano o residente con visa e historia laboral
                                </p>
                        </div>
                        <div class="cntClienteDos">
                                <p class="title">Clientes asalariados a término indefinido:</p>
                                <p class="listaItem">Continuidad laboral mínima de 12 meses.</p>
                                <p class="title">Clientes independientes:</p>
                                <p class="listaItem">Antigüedad en la actividad mínima de 12 meses</p>
                                <p class="title">Clientes pensionados:</p>
                                <p class="listaItem">No requiere antiguedad laboral</p>
                        </div>
                </div>
            </div>
        </div>

        <div class="manSolicitud">
            <h1>Manual de solicitud</h1>
            <p class="title">
                Si tu paciente decide financiar el tratamiento con Santander, sigue los siguientes pasos:
            </p>
            <div class="pasos">
                
                <div class="paso">
                    <div class="parrafo">
                        <p class="textParrafo">
                            1. Pídele que firme la autorización de consulta en centrales de riesgo, ya que necesitamos saber su comportamiento en el sistema financiero. El formulario es el siguiente:
                        </p>
                    </div>
                    <div class="imagePaso">
                        <img src="../../assets/sanitasnueve.png" alt="">
                    </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    2.  Haz Clic en el botón iniciar solicitud una vez simules la cuota de tu paciente de la siguiente manera:
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitastres.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    3.  Ahora, ingresa tus credenciales en el sitio WEB de Experian:
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitasocho.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    4.  Cuando Ingreses ve a “Mis Productos” y selecciona Dictum:
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitassiete.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    5. Una vez seleccionado “Dictum” ingresa el tipo de documento, el número y el apellido de tu paciente y haz clic en consultar:
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitasseis.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    7. Ahora diligencia los datos económicos de tu paciente:
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitascinco.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    8.  Listo! Si tu paciente es “Aprobado” obtendrás una pantalla como la siguiente:
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitasdos.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    Tu paciente también puede ser rechazado y deberás informarle únicamente la decisión:
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitasuno.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <div class="parrafo">
                            <p class="textParrafo">
                                    9. Si tu paciente es aprobado, debes pedirle que diligencie los siguientes documentos
                            </p>
                        </div>
                        <div class="imagePaso">
                            <img src="../../assets/sanitascuatro.png" alt="">
                        </div>
                </div>

                <div class="paso">
                        <p class="title green">
                            Si la solicitud fue Aprobada:
                        </p>
                        <p class="parrafo">
                            Después de enviar los documentos al correo electrónico definido, 15 minutos a que Santander Consumer Finance confirme la aprobación, una vez recibas la confirmación, infórmale a tu paciente que puede iniciar el tratamiento.
                        </p>
                        <p class="title red">
                            Si la solicitud fue negada:
                        </p>
                        <p class="parrafo">
                                Solo debes enviar los documentos y explicarle a tu paciente que la solicitud por el momento no es viable, pero que puede intentarlo pasados tres meses desde la fecha actual.
                        </p><br>
                        <p class="parrafo">
                                Si la solicitud fue pre Aprobado sin documentos:<br>
                                Después de enviar el correo electrónico con los documentos firmados por el cliente, deberás esperar una hora para que Santander Consumer Finance te remita una decisión final.
                        </p>
                        <p class="parrafo">
                                Si la solicitud es pre aprobada con documentos:<br>
                                Deberás solicitar a tu paciente los siguientes documentos adicionales al correo definido.
                        </p>
                        <p class="parrafo">
                                Si tu paciente es empleado:<br>
	                            Certificación laboral vigente no mayor a 30 días.<br>
                                Si aplica, certificaciones de sus empleos anteriores para demostrar continuidad laboral de al menos 12 meses,<br>
                                con continuidad de 6 meses en su empleo actual.<br><br>
                        </p>

                        <p class="title"></p>


                </div>

            </div>
        </div>
        
        <div class="pie">
            <p class="smallParrafo">Copyright © 2019, Banco Santander</p>
        </div>
    </div>