<app-print *ngIf="btnRequest" [inputData]="calculadora.getCalculoCuota"></app-print>
<div class="pPal animated fadeIn fast" (window:resize)="onResize($event)" #ppal>
    <app-process-request *ngIf="startRequest" [inputCalculoCuota]="calculadora.getCalculoCuota" [startRequest]="startRequest" (outputCancelRequest)="cancelRequest()">
    </app-process-request>
    <div class="encabezado">
        <img src="../assets/logoSanitas.png" alt="" class="logoSanitas">
        <img src="../assets/logoSantander.png" alt="" class="logoSantander">
    </div>

    <div class="partUno">
        <p class="bigTitle">Financia el tratamiento de tu paciente</p>
        <p class="textParrafo">Solicita un crédito de consumo de manera fácil e inmediata. Asesora a tu paciente y disfruta de los beneficios que Santander te ofrece.</p>
    </div>
    <!-- Big Screens encabezado -->

    <div [ngClass]="{partUnoBig: !mobile, partDos: mobile}">
        <div class="encabezadoBig" [hidden]="mobile">
            <img src="../assets/logoSanitas.png" alt="" id="logoSanitasBig" class="logoSanitasBig">
            <img src="../assets/logoSantander.png" alt="" id="logoSantanderBig" class="logoSantanderBig">
            <a href="#" class="logout">Cerrar sesión</a>
            <a [routerLink]="['/ayuda']">
                <button class="button">
                        <div class="itemButton">
                            <i class="fa fa-question-circle"></i>
                            <p class="bigTitle">AYUDA</p>
                        </div>
                    </button>
            </a>

        </div>
        <div [ngClass]="{cntUnoBig: !mobile, cntdosSmall: mobile}">
            <div class="textCntBig" *ngIf="!mobile">
                <div class="texInicial">
                    <p class="bigTitle">Financia el tratamiento<br> de tu paciente</p><br>
                    <p class="textParrafo">Solicita un crédito de consumo de manera fácil e inmediata. Asesora a tu paciente y disfruta de los beneficios que Santander te ofrece.</p>
                </div>
            </div>

            <div class="textCntDosBig" *ngIf="!mobile">
                <div class="simulaCuota">
                    <p class="bigTitle">Simula la cuota</p>
                    <p class="title">¡Evita que tu paciente realice papeleos complejos!</p>
                    <p class="title">Gestiona productos de manera ágil</p>
                </div>
                <div class="cntClienteUno" *ngIf="!mobile">
                    <p class="title">Condiciones para el cliente:</p>
                    <p class="listaItem">
                        • Debe tener entre 18 y 75 años<br> • Ganar más de un salario mínimo<br> • El monto mínimo es $800.000<br> • El monto máximo es $20.000.000<br> • Colombiano o residente con visa e historia laboral<br> • Plazo de financiación máximo
                        12 meses adicionales a la duración del tratamiento
                    </p>
                </div>
                <div class="cntClienteDos" *ngIf="!mobile">
                    <p class="title">Clientes asalariados:</p>
                    <p class="listaItem">Continuidad laboral mínima de 12 meses.</p>
                    <p class="title">Clientes independientes:</p>
                    <p class="listaItem">Antigüedad en la actividad mínima de 12 meses</p>
                </div>
            </div>

            <div class="calcBig">
                <app-calculadora [showErrorRequest]="showErrorRequest" (enableStarRequest)="enableStartRequest($event)">

                    <button (click)="openSolicitud()" class="button tipoUno pulse-shrink">
                        <p class="bigTitle">INICIAR SOLICITUD</p>
                    </button>
                    <button (click)="onPrint()" class="button tipoUno pulse-shrink print">
                            <p class="bigTitle">IMPRIMIR</p>
                    </button>

                    <div class="contGrafica">
                        <div class="dto" (click)="calculadora.dtoChange()"></div>
                        <img src="../assets/grafica.png" alt="" class="grafica">
                    </div>
                </app-calculadora>
                <a [routerLink]="['/ayuda']" [hidden]="!mobile">
                    <button class="button">
                            <div class="itemButton">
                                <i class="fa fa-question-circle"></i>
                                <p class="bigTitle">AYUDA</p>
                            </div>
                        </button>
                </a>
            </div>

        </div>
    </div>

    <div class="partDosBig">
        <div class="contDosBig">
            <div class="item">
                <embed class="reloj" src="../assets/reloj.svg">
                <div class="text">
                    <p class="title">
                        Sencillo
                    </p>
                    <p class="textContent">
                        Aprobación inmediata.<br>Obtén una decisión crediticia en instantes,<br>sin papeleo.
                    </p>
                </div>
            </div>
            <div class="item">
                <embed class="personal" src="../assets/personas.svg">
                <div class="text">
                    <p class="title">
                        Personal
                    </p>
                    <p class="textContent">
                        Plazos convenientes y amplia<br>financiación de acuerdo a<br>las necesidades de tu cliente.
                    </p>
                </div>
            </div>
            <div class="item">
                <embed class="martillo" src="../assets/martillo.svg">
                <div class="text">
                    <p class="title">Justo</p>
                    <p class="textContent">
                        Baja tasa de interés a término fijo,<br>contamos con una amplia red de<br>puntos de pago.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="pie">
        <p class="smallParrafo">Copyright © 2020, Banco Santander</p>
    </div>
</div>