
<div class="pPal">
    <div class="encabezado">
        <img src="../assets/logoSanitas.png" alt="" class="logoSanitas">
        <img src="../assets/logoSantander.png" alt="" class="logoSantander">
    </div>

    <div class="partUno">        
        <p class="bigTitle">Financia el tratamiento de tu paciente</p>
        <p class="textParrafo">Solicita un crédito de consumo de manera fácil e inmediata. Asesora a tu paciente y
            disfruta de los beneficios que Santander te ofrece.</p>        
    </div>

    <div class="partDos">

        <div class="tarjeta cntUno">
            <div class="calcPuno">
                <p class="title">1.- ¿Cuánto dinero necesita tu paciente?</p>
                <div class="slidecontainer marginOne">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
                <div class="contMinMax marginOne">
                    <div class="contMin">
                        <p class="grayParrf">Min:</p>
                        <p class="cifraGray">$ 800.000</p>
                    </div>
                    <div class="contMax">
                        <p class="grayParrf">Max:</p>
                        <p class="cifraGray">$ 20'000.000</p>
                    </div>
                </div>
                <div class="contSoli">
                    <p class="grayParrf">Solicitas:</p>
                    <input type="text" class="inputText">
                </div>
                <hr>
            </div>

            <div class="calcPdos marginOne">
                <p class="title">2.- ¿En cuantas cuotas desea pagar?</p>

                <div class="contPeriodo">
                    <button class="itPeriodo">
                        <div class="numBer">06</div>
                        <div class="mes">meses</div>
                    </button>
                    <button class="itPeriodo">
                        <div class="numBer">12</div>
                        <div class="mes">meses</div>
                    </button>
                    <button class="itPeriodo">
                        <div class="numBer">18</div>
                        <div class="mes">meses</div>
                    </button>
                    <button class="itPeriodo">
                        <div class="numBer">24</div>
                        <div class="mes">meses</div>
                    </button>
                    <button class="itPeriodo">
                        <div class="numBer">36</div>
                        <div class="mes">meses</div>
                    </button>
                    <button class="itPeriodo">
                        <div class="numBer">48</div>
                        <div class="mes">meses</div>
                    </button>
                </div>

                <div class="cntAprox">
                    <p class="grayParrf">Cuota aproximada mensual:</p>
                    <p class="cifraBlack">$ 180.000</p>

                    <div data-tooltip="This is some information for our tooltip." class="tooltip">
                            <i class="fa fa-question-circle"></i>
                    </div>

                </div>
                <hr>
            </div>

            <div class="calcPtres">
                <p class="title">Descuento</p>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                </div>
                <div class="contMinMax">
                    <div class="contMin">
                        <p class="grayParrf">Min:</p>
                        <p class="cifraGray">1%</p>
                    </div>
                    <div class="contMax">
                        <p class="grayParrf">Max:</p>
                        <p class="cifraGray">3%</p>
                    </div>
                </div>
                <div class="cntAprox">
                        <p class="grayParrf">Cuota con descuento:</p>
                        <p class="cifraBlack">$ 167.000</p>

                        <div data-tooltip="This is some information for our tooltip." class="tooltip">
                                <i class="fa fa-question-circle"></i>
                        </div>
                    </div>
                    <hr>
            </div>

            <div class="calcPcuatro">
                    <button class="button tipoUno">
                            <p class="bigTitle">INICIAR SOLICITUD</p>
                    </button>
                    <button class="button tipoDos">
                            <p class="bigTitle">SIMULACIÓN DE CUOTAS</p>
                    </button>
            </div>

        </div>

        <img src="../assets/grafica.png" alt="" class="grafica">

        <div class="tarjeta cntDos">
            <p class="title">Condiciones para el cliente:</p>
            <p class="listaItem">
                • Debe tener entre 18 y 75 años<br>
                • Ganar más de un salario mínimo<br>
                • El monto mínimo es $800.000<br>
                • El monto máximo es $20.000.000<br>
                • Colombiano o residente con visa e historia laboral
            </p>
        </div>

        <div class="tarjeta cntTres">
            <p class="title">Clientes asalariados a término indefinido:</p>
            <p class="listaItem">Continuidad laboral mínima de 12 meses.</p>
            <p class="title">Clientes independientes:</p>
            <p class="listaItem">antiguedad en la actividad mínima de 12 meses</p>
            <p class="title">Clientes pensionados:</p>
            <p class="listaItem">No requiere antiguedad laboral</p>
        </div>
    </div>

    <div class="pie">
        <p class="smallParrafo">Copyright © 2019, Banco Satntander</p>
    </div>
</div>
