<div class="pPal animated fadeIn fast">
        <div class="encabezado doNotPrint">
            <img src="../assets/logoSanitas.png" alt="" class="logoSanitas">
            <img src="../assets/logoSantander.png" alt="" class="logoSantander">
        </div>
    
        <div class="partUno doNotPrint">
            <p class="bigTitle">Financia el tratamiento de tu paciente</p>
            <p class="textParrafo">Solicita un crédito de consumo de manera fácil e inmediata. Asesora a tu paciente y
                disfruta de los beneficios que Santander te ofrece.</p>
        </div>
    
        <!-- Big Screens encabezado -->
    
        <div class="partUnoBig printOk">
            <div class="encabezadoBig">
                <img src="../assets/logoSanitas.png" alt="" id="logoSanitasBig" class="logoSanitasBig">
                <img src="../assets/logoSantander.png" alt="" id="logoSantanderBig" class="logoSantanderBig">
                
                <a [routerLink]="['/ayuda']">
                    <button class="button doNotPrint">
                        <div class="itemButton">
                            <i class="fa fa-question-circle"></i>
                            <p class="bigTitle">AYUDA</p>
                        </div>
                    </button>
                </a>

            </div>
            <div class="cntUnoBig doNotPrint">
                <div class="textCntBig">
                    <div class="texInicial">
                        <p class="bigTitle">Financia el tratamiento<br> de tu paciente</p><br>
                        <p class="textParrafo">Solicita un crédito de consumo de manera fácil e inmediata. Asesora a tu
                            paciente y
                            disfruta de los beneficios que Santander te ofrece.</p>
                    </div>
                    
                    <div>
                       <p class="ceroTasa">Tasa 0%</p>
                       <p class="bigTitle ceroTasaTitle">hasta un plazo de 24 meses.</p>
                       <p class="textParrafo ceroTasaParrafo">A un plazo de 36 meses la tasa será 0,49% NMV</p> 
                    </div>
                </div>
    
                <div class="textCntDosBig doNotPrint">
                        <div class="simulaCuota">
                                <p class="bigTitle">Simula la cuota</p>
                                <p class="title">¡Evita que tu paciente realice papeleos complejos!</p>
                                <p class="title">Gestiona productos de manera ágil</p>
                        </div>
                        <div class="cntClienteUno doNotPrint">
                                <p class="title">Condiciones para el cliente:</p>
                                <p class="listaItem">
                                    • Debe tener entre 18 y 75 años<br>
                                    • Ganar más de un salario mínimo<br>
                                    • El monto mínimo es $800.000<br>
                                    • El monto máximo es $20.000.000<br>
                                    • Colombiano o residente con visa e historia laboral<br>
                                    • Plazo de financiación máximo 12 meses adicionales a la duración del tratamiento
                                </p>
                        </div>
                        <div class="cntClienteDos doNotPrint">
                                <p class="title">Clientes asalariados:</p>
                                <p class="listaItem">Continuidad laboral mínima de 12 meses.</p>
                                <p class="title">Clientes independientes:</p>
                                <p class="listaItem">Antigüedad en la actividad mínima de 12 meses</p>
                        </div>
                </div>
    
                <div class="calcBig">
                    <form #formSanitasBig="ngForm">
    
                        <div class="tarjeta cntUno">
                            <div class="calcPuno">
                                <p class="title">1.- ¿Cuánto dinero necesita tu paciente?</p>
                                <div class="slidecontainer marginOne">
                                    <input 
                                        name="slidesolicita"
                                        type="range"
                                        value="0"
                                        min="{{minVlr}}"
                                        max="{{maxVlr}}"
                                        step="100000"
                                        class="slider"
                                        id="myRange"
                                        [(ngModel)]="valorSolicitado"
                                        #slideSolicita="ngModel"                                    
                                        required>
                                </div>
    
                                <div class="contMinMax marginOne">
                                    <div class="contMin">
                                        <p class="grayParrf">Mín:</p>
                                        <p class="cifraGray">$ 800.000</p>
                                    </div>
                                    <div class="contMax">
                                        <p class="grayParrf">Máx:</p>
                                        <p class="cifraGray">$ 20'000.000</p>
                                    </div>
                                </div>
                                <div class="contSoli">
                                    <p class="grayParrf doNotPrint">Solicitas:</p>
                                    <div class="symbol">
                                        <input 
                                            type="tel" 
                                            name="numbersolicita" 
                                            class="inputText"
                                            [ngModel]="valorSolicitado | number:'1.0'"
                                            (ngModelChange)="valorSolicitado = currencyInputChanged($event)"
                                            (keypress)="oldNumbers($event)"
                                            #numberSolicita="ngModel" 
                                            required>
                                    </div>

                                    <div class="vlrDtoCifra" *ngIf="epsSanitas && clickDto">
                                        <p class="grayParrfDto">Valor con descuento:</p>
                                        <p class="vlrDto cifraGray">${{vlrDto | number:'1.0'}}</p>
                                    </div>
                                </div>

                                <div class="contCheckSanitas">
                                    <span>
                                        <input
                                            class="checkDto" 
                                            type="checkbox"
                                            name="epsSanitas" 
                                            [(ngModel)]="epsSanitas"
                                            #epSSanitas="ngModel"
                                        > Afiliado a la EPS Sanitas
                                    </span>
                                </div>

                                <hr>
                            </div>
    
                            <div class="calcPdos marginOne">
                                <p class="title">2.- ¿En cuantas cuotas desea pagar?</p>
    
                                <div class="contPeriodo">
    
                                    <span class="radio">
                                        <input 
                                        id="seis"
                                        #cuotaSeis="ngModel"
                                        [(ngModel)]="cuotas"
                                        name="Radios"
                                        (change)="changeButton($event.target)"
                                        type="radio"
                                        value="6"
                                        >
                                        <div>
                                            <div class="numBer">06</div>
                                            <div class="mes">meses</div>
                                        </div>
                                    </span>
    
                                    <span class="radio">
                                        <input 
                                        id="doce"
                                        [(ngModel)]="cuotas"
                                        name="Radios"
                                        (change)="changeButton($event.target)"
                                        type="radio"
                                        value="12">
                                        <div>
                                            <div class="numBer">12</div>
                                            <div class="mes">meses</div>
                                        </div>
                                    </span>
    
                                    <span class="radio">
                                        <input 
                                        id="diesiocho"
                                        [(ngModel)]="cuotas"
                                        name="Radios"
                                        (change)="changeButton($event.target)"
                                        type="radio"
                                        value="18"
                                        
                                        >
                                        <div>
                                            <div class="numBer">18</div>
                                            <div class="mes">meses</div>
                                        </div>
                                    </span>
    
                                    <span class="radio">
                                        <input 
                                        id="veinticuatro" 
                                        [(ngModel)]="cuotas"
                                        name="Radios"
                                        (change)="changeButton($event.target)"
                                        type="radio"
                                        value="24"
                                        [attr.disabled] = "epsSanitas && clickDto && descuentoSlide !== 0 ? 'disabled' : null"
                                        >
                                        <div>
                                            <div class="numBer">24</div>
                                            <div class="mes">meses</div>
                                        </div>
                                    </span>
    
                                    <span class="radio">
                                        <input 
                                        id="cuarentayocho"
                                        [(ngModel)]="cuotas"
                                        name="Radios"
                                        (change)="changeButton($event.target)"
                                        type="radio"
                                        value="36"
                                        [attr.disabled] = "epsSanitas && clickDto && descuentoSlide !== 0 ? 'disabled' : null" 
                                         >
                                        <div>
                                            <div class="numBer">36</div>
                                            <div class="mes">meses</div>
                                        </div>
                                    </span>
    
                                </div>
    
                                <div class="cntAprox">
                                    <p class="grayParrf">Cuota aproximada mensual:<br>
                                        (incluye seguro de vida)</p>
                                    <p class="cifraBlack">$ {{vlrCuota | number:'1.0'}}</p>
    
                                    <div class="tooltip doNotPrint">
                                        <i class="fa fa-question-circle"></i>
                                        <span class="tooltiptext">
                                                <div class="titleTooltip">Valor cuota sin seguro:</div>$ {{vlrCuotaSs | number:'1.0'}}<br>
                                                <div class="titleTooltip">Costo total del seguro:</div>$ {{seguroTotal | number:'1.0'}}<br>
                                                <div class="titleTooltip">Cuota mensual del seguro:</div>$ {{seguroCta | number:'1.0'}}<br>
                                                <div *ngIf="vlrDto !== 0" class="titleTooltip">Monto total a financiar<br>$ {{vlrDto + seguroTotal | number:'1.0'}}</div>
                                                <div *ngIf="vlrDto === 0" class="titleTooltip">Monto total a financiar<br>$ {{valorSolicitado + seguroTotal | number:'1.0'}}</div>
                                                <div *ngIf="cuotas !== 36" class="titleTooltip">Tasa aplicada:<br>0% E.A</div>
                                                <div *ngIf="cuotas === 36" class="titleTooltip">Tasa aplicada:<br>6.04% E.A</div>
                                                <div *ngIf="cuotas === 36" class="titleTooltip">0.49 NMV</div>                                               
                                        </span>
                                    </div>
    
                                </div>
                                <hr>
                            </div>
    
                            <div *ngIf="epsSanitas && clickDto" class="calcPtres">
                                <p class="title">Descuento</p>
                                <div class="slidecontainer doNotPrint">
                                    <input 
                                        type="range" 
                                        min="{{minDes}}" 
                                        max="{{maxDes}}" 
                                        step="1"
                                        value="0" 
                                        class="slider"
                                        [(ngModel)]="descuentoSlide"
                                        name="dtoSlide"
                                        #DtoSlide="ngModel"
                                        id="myRange"
                                        [disabled]="valorSolicitado < 3000000 || cuotas > 18 ? 'disabled' : null"
                                        (change)="descuento($event)"
                                        >
                                </div>
                                <div class="contMinMax doNotPrint">
                                    <div class="contMin">
                                        <p class="grayParrf">Mín:</p>
                                        <p class="cifraGray">{{minDes}}%</p>
                                    </div>
                                    <div class="contMax doNotPrint">
                                        <p class="grayParrf">Máx:</p>
                                        <p class="cifraGray">{{maxDes}}%</p>
                                    </div>
                                </div>
                                <div class="cntAprox">
                                    <p class="grayParrf doNotPrint">Descuento:</p>
                                    <p class="cifraBlack">{{descuentoSlide}}%</p>
    
                                    <!-- <div class="tooltip doNotPrint">
                                        <i class="fa fa-question-circle"></i>
                                        <span class="tooltiptext">
                                            Contenido
                                        </span>
                                    </div> -->
                                </div>
                                <hr>
                            </div>

                            <div class="tooltiptext printOk">
                                    <div class="titleTooltip">Valor cuota sin seguro:</div>$ {{vlrCuotaSs | number:'1.0'}}<br>
                                    <div class="titleTooltip">Costo total del seguro:</div>$ {{seguroTotal | number:'1.0'}}<br>
                                    <div class="titleTooltip">Cuota mensual del seguro:</div>$ {{seguroCta | number:'1.0'}}<br>
                                    <div *ngIf="vlrDto !== 0" class="titleTooltip">Monto total a financiar<br>$ {{vlrDto + seguroTotal | number:'1.0'}}</div>
                                    <div *ngIf="vlrDto === 0" class="titleTooltip">Monto total a financiar<br>$ {{valorSolicitado + seguroTotal | number:'1.0'}}</div>
                                    <div *ngIf="cuotas !== 36" class="titleTooltip">Tasa aplicada:<br>0% E.A</div>
                                    <div *ngIf="cuotas === 36" class="titleTooltip">Tasa aplicada:<br>6.04% E.A</div>
                                    <div *ngIf="cuotas === 36" class="titleTooltip">0.49 NMV</div>
                            </div>
    
                            <div class="calcPcuatro doNotPrint">
                                <button [disabled]="formSanitasBig.invalid" (click)="linka()" class="button tipoUno pulse-shrink">
                                    <p class="bigTitle">INICIAR SOLICITUD</p>
                                </button>
                                <button [disabled]="formSanitasBig.invalid" (click)="onPrint()" class="button tipoUno pulse-shrink print">
                                        <p class="bigTitle">IMPRIMIR</p>
                                </button>
                                <!-- <button [disabled]="formSanitas.invalid" class="button tipoDos pulse-shrink">
                                                    <p class="bigTitle">SIMULACIÓN DE CUOTAS</p>
                                            </button> -->
                            </div>
    
                        </div>
                        <div class="contGrafica doNotPrint">
                            <div class="dto" (click)="dtoChange()" *ngIf="epsSanitas"></div>
                            <img src="../assets/grafica.png" alt="" class="grafica">
                        </div>
                    </form>
                </div>
    
            </div>
        </div>
    
        <div class="partDosBig doNotPrint">
            <div class="contDosBig">
                <div class="item">
                    <embed class="reloj" src="../assets/reloj.svg">
                    <div class="text">
                        <p class="title">
                            Sencillo
                        </p>
                        <p class="textContent">
                            Aprobación inmediata.<br>Obtén una decisión crediticia en instantes,<br>sin papeleo.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <embed class="personal" src="../assets/personas.svg">
                    <div class="text">
                        <p class="title">
                            Personal
                        </p>
                        <p class="textContent">
                            Plazos convenientes y amplia<br>financiación de acuerdo a<br>las necesidades de tu cliente.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <embed class="martillo" src="../assets/martillo.svg">
                    <div class="text">
                        <p class="title">
                           Justo    
                        </p>
                        <p class="textContent">
                            Baja tasa de interés a término fijo,<br>contamos con una amplia red de<br>puntos de pago.  
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- Fin Big -->
    
        <div class="partDos">
    
            <form #formSanitas="ngForm">
    
                <div class="tarjeta cntUno">
                    <div class="calcPuno">
                        <p class="title">1.- ¿Cuánto dinero necesita tu paciente?</p>
                        <div class="slidecontainer marginOne doNotPrint">
                            <input 
                            name="slidesolicita" 
                            type="range"
                            value="0"
                            min="{{minVlr}}"
                            max="{{maxVlr}}"
                            step="100000"
                            class="slider"
                            id="myRange"
                            [(ngModel)]="valorSolicitado"
                            #slideSolicita="ngModel"
                            required>
                        </div>
    
                        <div class="contMinMax marginOne doNotPrint">
                            <div class="contMin">
                                <p class="grayParrf">Mín:</p>
                                <p class="cifraGray">$ 800.000</p>
                            </div>
                            <div class="contMax">
                                <p class="grayParrf">Máx:</p>
                                <p class="cifraGray">$ 20'000.000</p>
                            </div>
                        </div>
                        <div class="contSoli">
                            <p class="grayParrf doNotPrint">Solicitas:</p>
                            <div class="symbol">
                                <input 
                                    type="tel" 
                                    name="numbersolicita" 
                                    class="inputText"
                                    [ngModel]="valorSolicitado | number:'1.0'"
                                    (keypress)="oldNumbers($event)"
                                    (ngModelChange)="valorSolicitado = currencyInputChanged($event)"
                                    #numberSolicita="ngModel" 
                                    required>
                            </div>
                        </div>

                        <div class="vlrDtoCifra" *ngIf="epsSanitas && clickDto">
                                <p class="grayParrfDto">Valor con descuento:</p>
                                <p class="vlrDto cifraGray">${{vlrDto | number:'1.0'}}</p>
                        </div>

                        <div class="contCheckSanitas">
                                <span>
                                    <input 
                                        type="checkbox"
                                        name="epsSanitas" 
                                        [(ngModel)]="epsSanitas"
                                        #epSSanitas="ngModel"
                                    > Afiliado a la EPS Sanitas
                                </span>
                            </div>
                        <hr>
                    </div>
    
                    <div class="calcPdos marginOne">
                        <p class="title">2.- ¿En cuantas cuotas desea pagar?</p>
    
                        <div class="contPeriodo">
    
                            <span class="radio">
                                <input id="seis" #cuotaSeis="ngModel" [(ngModel)]="cuotas" name="Radios"
                                    (change)="changeButton($event.target)" type="radio" value="6">
                                <div>
                                    <div class="numBer">06</div>
                                    <div class="mes">meses</div>
                                </div>
                            </span>
    
                            <span class="radio">
                                <input id="doce" [(ngModel)]="cuotas" name="Radios" (change)="changeButton($event.target)"
                                    type="radio" value="12">
                                <div>
                                    <div class="numBer">12</div>
                                    <div class="mes">meses</div>
                                </div>
                            </span>
    
                            <span class="radio">
                                <input 
                                    id="diesiocho" 
                                    [(ngModel)]="cuotas" 
                                    name="Radios"
                                    (change)="changeButton($event.target)" 
                                    type="radio" value="18"
                                    >
                                <div>
                                    <div class="numBer">18</div>
                                    <div class="mes">meses</div>
                                </div>
                            </span>
    
                            <span class="radio">
                                <input id="veinticuatro" 
                                [(ngModel)]="cuotas"
                                name="Radios"
                                (change)="changeButton($event.target)" 
                                type="radio" 
                                value="24"
                                [attr.disabled] = "epsSanitas && clickDto && descuentoSlide !== 0 ? 'disabled' : null"
                                >
                                <div>
                                    <div class="numBer">24</div>
                                    <div class="mes">meses</div>
                                </div>
                            </span>
    
                            <span class="radio">
                                <input 
                                id="cuarentayocho"
                                 [(ngModel)]="cuotas" 
                                 name="Radios"
                                 (change)="changeButton($event.target)"
                                  type="radio" 
                                  value="36"
                                  [attr.disabled] = "epsSanitas && clickDto && descuentoSlide !== 0 ? 'disabled' : null"
                                  >
                                <div>
                                    <div class="numBer">36</div>
                                    <div class="mes">meses</div>
                                </div>
                            </span>
    
                        </div>                        
    
                        <div class="cntAprox">
                            <p class="grayParrf">Cuota aproximada mensual:<br>
                            (incluye seguro de vida)
                            </p>
                            <p class="cifraBlack">$ {{vlrCuota | number:'1.0'}}</p>
    
                            <div class="tooltip doNotPrint">
                                <i class="fa fa-question-circle"></i>
                                <span class="tooltiptext">
                                    <div class="titleTooltip">Valor cuota sin seguro:</div>$ {{vlrCuotaSs | number:'1.0'}}<br>
                                    <div class="titleTooltip">Costo total del seguro:</div>$ {{seguroTotal | number:'1.0'}}<br>
                                    <div class="titleTooltip">Cuota mensual del seguro:</div>$ {{seguroCta | number:'1.0'}}<br>
                                    <div *ngIf="vlrDto !== 0" class="titleTooltip">Monto total a financiar<br>$ {{vlrDto + seguroTotal | number:'1.0'}}</div>
                                    <div *ngIf="vlrDto === 0" class="titleTooltip">Monto total a financiar<br>$ {{valorSolicitado + seguroTotal | number:'1.0'}}</div>
                                    <div *ngIf="cuotas !== 36" class="titleTooltip">Tasa aplicada:<br>0% E.A</div>
                                    <div *ngIf="cuotas === 36" class="titleTooltip">Tasa aplicada:<br>6.04% E.A</div>
                                    <div *ngIf="cuotas === 36" class="titleTooltip">0.49 NMV</div><br>                                    
                                    
                                </span>
                            </div>
    
                        </div>
                        <hr>
                    </div>
    
                    <div *ngIf="epsSanitas && clickDto" class="calcPtres">
                            <p class="title">Descuento</p>
                            <div class="slidecontainer doNotPrint">
                                <input 
                                    type="range" 
                                    min="{{minDes}}" 
                                    max="{{maxDes}}" 
                                    step="1"
                                    value="0" 
                                    class="slider"
                                    [(ngModel)]="descuentoSlide"
                                    name="dtoSlide"
                                    #DtoSlide="ngModel"
                                    id="myRange"
                                    [disabled]="valorSolicitado < 3000000 || cuotas > 18 ? 'disabled' : null"
                                    (change)="descuento($event)"
                                    >
                            </div>
                            <div class="contMinMax doNotPrint">
                                <div class="contMin">
                                    <p class="grayParrf">Mín:</p>
                                    <p class="cifraGray">{{minDes}}%</p>
                                </div>
                                <div class="contMax">
                                    <p class="grayParrf">Máx:</p>
                                    <p class="cifraGray">{{maxDes}}%</p>
                                </div>
                            </div>
                            <div class="cntAprox">
                                <p class="grayParrf doNotPrint">Descuento:</p>
                                <p class="cifraBlack">{{descuentoSlide}}%</p>

                                <!-- <div class="tooltip doNotPrint">
                                    <i class="fa fa-question-circle"></i>
                                    <span class="tooltiptext">
                                        Contenido
                                    </span>
                                </div> -->
                            </div>
                            <hr>
                        </div>

                        <div class="tooltiptext printOk">
                                <div class="titleTooltip">Valor cuota sin seguro:</div>$ {{vlrCuotaSs | number:'1.0'}}<br>
                                <div class="titleTooltip">Costo total del seguro:</div>$ {{seguroTotal | number:'1.0'}}<br>
                                <div class="titleTooltip">Cuota mensual del seguro:</div>$ {{seguroCta | number:'1.0'}}<br>
                                <div *ngIf="vlrDto !== 0" class="titleTooltip">Monto total a financiar<br>$ {{vlrDto + seguroTotal | number:'1.0'}}</div>
                                <div *ngIf="vlrDto === 0" class="titleTooltip">Monto total a financiar<br>$ {{valorSolicitado + seguroTotal | number:'1.0'}}</div>                                
                                <div *ngIf="cuotas != 36" class="titleTooltip">Tasa aplicada:<br>0% E.A</div>
                                <div *ngIf="cuotas == 36" class="titleTooltip">Tasa aplicada:<br>6.04% E.A</div>
                                <div *ngIf="cuotas == 36" class="titleTooltip">0.49 NMV</div><br>                             
                        </div>
    
                    <div class="calcPcuatro doNotPrint">
                        <button [disabled]="formSanitas.invalid" (click)="linka()" class="button tipoUno pulse-shrink">
                            <p class="bigTitle">INICIAR SOLICITUD</p>
                        </button>
                        <button [disabled]="formSanitas.invalid" (click)="onPrint()" class="button tipoUno pulse-shrink print">
                            <p class="bigTitle">IMPRIMIR</p>
                        </button>
                    </div>
    
                </div>
                <div class="contGrafica doNotPrint">
                    <div class="dtoM" (click)="dtoChange()" *ngIf="epsSanitas"></div>
                    <img src="../assets/grafica.png" alt="" class="grafica">
                </div>
    
                <div class="tarjeta cntDos doNotPrint">
                    <p class="title">Condiciones para el cliente:</p>
                    <p class="listaItem">
                        • Debe tener entre 18 y 75 años<br>
                        • Ganar más de un salario mínimo<br>
                        • El monto mínimo es $800.000<br>
                        • El monto máximo es $20.000.000<br>
                        • Colombiano o residente con visa e historia laboral<br>
                        • Plazo de financiación máximo 12 meses adicionales a la duración del tratamiento
                    </p>
                </div>
    
                <div class="tarjeta cntTres doNotPrint">
                    <p class="title">Clientes asalariados:</p>
                    <p class="listaItem">Continuidad laboral mínima de 12 meses.</p>
                    <p class="title">Clientes independientes:</p>
                    <p class="listaItem">Antigüedad en la actividad mínima de 12 meses</p>
                </div>
                
                <a [routerLink]="['/ayuda']">
                <button class="buttonAyuda">
                        <div class="itemButton doNotPrint">
                        <i class="fa fa-question-circle"></i>
                            <p class="bigTitle">AYUDA</p>
                        </div>
                </button>
                </a>
    
            </form>
    
        </div>
    
        <div class="pie doNotPrint">
            <p class="smallParrafo">Copyright © 2019, Banco Santander</p>
        </div>
    </div>