.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10%;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 8px;
    .logo1,
    .logo2 {
        text-align: center;
        img {
            width: 85%;
        }
    }
    .title-print {
        text-align: right;
        padding: 4%;
        font-size: 14px;
    }
}

.plan-pagos {
    display: grid;
    grid-template-columns: 1fr;
    .header-plan-pagos {
        text-align: left;
        padding: 16px 32px;
        font-weight: bold;
    }
    .body-plan-pagos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        border: 1px solid #707070;
        border-radius: 5px;
        padding: 16px 22px 16px 12px;
        .cuota {
            text-align: left;
            padding-left: 20px;
            font-weight: bold;
        }
        .valor {
            text-align: right;
        }
    }
}

.detalles {
    display: grid;
    border: 1px solid #707070;
    border-radius: 5px;
    .detalles-header {
        text-align: center;
        padding: 15px 0px 20px 0px;
    }
    .detalles-line {
        width: 95%;
        margin: auto;
    }
    .detalles-body {
        display: grid;
        grid-template-columns: 1fr 3fr 1.5fr 1fr;
        padding: 16px 0px;
        .detalles-info {
            grid-column: 2;
            text-align: left;
            p {
                padding: 5px 0px;
            }
        }
        .detalles-valor {
            grid-column: 3;
            text-align: left;
            p {
                padding: 5px 0px;
                font-weight: bold;
            }
        }
    }
}