.container {
    display: flex;
    grid-template-columns: 1fr;
}

.header,
.plan-pagos,
.descripcion,
.detalles {
    display: flex;
    grid-template-columns: 1fr;
    border: 1px solid black;
    width: 100%;
}