<div class="container">
    <div class="header">
        <div class="logo1">
            hola mundo
        </div>
        <div class="logo2">
            hola mundo
        </div>
        <div class="title">
            hola mundo
        </div>
    </div>
    <div class="plan-pagos">
        <div class="title-plan-pagos">
            hola mundo
        </div>
        <div class="body-plan-pagos">
            <div class="cuota">
                hola mundo
            </div>
            <div class="valor">
                hola mundo
            </div>
        </div>
    </div>
    <div class="descripcion">
        hola mundo
    </div>
    <div class="detalles">
        hola mundo
    </div>
</div>