$deg-uno: #154C75;
$deg-dos: #2B91B5;
$black: #000000;
$white: #ffffff;
$vBlue: #154C5B;
$backSlide: #EFF3F6;
$bordSlide: #D2DBE4;
$grayParrf: #BABABA;
$cifraGray: #939393;
$grayTenue: #F0F0F0;


/* Responsive */

$sSmall: 320px;
$mSmall: 375px;
$lSmall: 425px;
$tablet: 768px;
$desktop: 1366px;
$bigScreen: 1920px;